h1 {
  text-align: center;
}

img {
  width: 500px;
  height: 500px;
}

button {
  display: inline-block;
  background-color: green;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  
}
body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
    background-image: url("Sun\ Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.text-center {
  text-align: center;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
